# EX 2.1

In [1]:
type(range(5))

range

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

# EX 2.2

In [3]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [4]:
for i in range (100):
    if i%7==0:
        print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [11]:
for i in range(100):
    if i%5==0:
        if i%3!=0:
            print(i)

5
10
20
25
35
40
50
55
65
70
80
85
95

In [12]:
for i in range(2,20):
    a=''
    if i%2==0:
        a+='2 '
    if i%3==0:
        a+='3 '
    if i%4==0:
        a+='4 ' 
    if i%5==0:
        a+='5 ' 
    if i%6==0:
        a+='6 ' 
    if i%7==0:
        a+='7 ' 
    if i%8==0:
        a+='8 '
    if i%9==0:
        a+='9 '
    print(a)

2
3
2 4
5
2 3 6
7
2 4 8
3 9
2 5

2 3 4 6

2 7
3 5
2 4 8

2 3 6 9

# EX 2.3

In [13]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [14]:
for i in range(100):
    if i%7==0:
        print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

# EX 2.5

In [15]:
number_found=0
i = 1
while i < 20:
    if i%5==0 and i%7==0 and i%11==0:
        print(i)
        ++number_found
    i += 1

# EX 2.6

In [16]:
def gcd(x,y): 
    return y and gcd(y, x % y) or x
def lcm(x,y): 
    return x * y / gcd(x,y)

n = 1
for i in range(1, 10):
     n = lcm(n, i)
print(n)

2520.0

# EX 2.7

In [18]:
def collatzSequence(n):
    while n != 1:
        print(n, end = ' ')
        if n %2 == 1:
            n = 3 * n + 1

        else:
            n = n // 2
    print(n)

collatzSequence(101)

101 304 152 76 38 19 58 29 88 44 22 11 34 17 52 26 13 40 20 10 5 16 8 4 2 1